@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pixelify+Sans:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Alumni Sans / Roboto / Pixelify Sans / Montserrat */

body{
    margin: 0 auto;
    font-family: 'Pixelify-sans', sans-serif;
}

textarea{
    color: black;
    resize: none;
}