{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<title>WikiWho</title>
{% endblock %}

{% block body %}
<h1>Add person</h1>
<form method="post">
    <label for="name">Person name</label>
    <br>
    <input type="name" name="name"
           placeholder="Person name"
           value=""></input>
    <br>

    <label for="content">Person description</label>
    <br>
    <textarea name="content"
              placeholder="Post content"
              rows="15"
              cols="60"
              >
    </textarea>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}