{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/addperson.css')}}">
<title>WikiWho</title>
{% endblock %}

{% block body %}
<h1>Add person</h1>
<form action="/addPerson/" method="POST">
    <label for="name">Person name</label>
    <br>
    <input type="text" name="name" placeholder="Person name" value="{{ request.form['name'] }}"></input>
    <br>

    <label for="person_description">Person description</label>
    <br>
    <textarea name="person_description" rows="15" cols="60" 
    value="" placeholder="Person description">{{ request.form['person_description'] }}</textarea>
    <br>

    <button type="submit">Submit</button>
</form>
{% endblock %}