{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<title>WikiWho</title>
{% endblock %}

{% block body %}
<h1>WikiWho</h1>
<input type="text" name="search" id="search">
<form action="/addPersonBtn/" method="POST">
    <input type="submit" value="Add person">
</form>
<form action="/removePersonBtn/" method="POST">
    <input type="submit" value="Admin page">
</form>
{% for person in people %}
    <div class='person'>
        <h2>{{ post['name'] }}</h2>
        <p>{{ post['person_description'] }}</p>
    </div>
{% endfor %}
{% endblock %}